<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/fragment/header::main_header}"></th:block>
    <title>회원 정보 Page</title>
</head>
<body>


<div class="member-info-container d-flex justify-content-center align-items-center vh-100" th:object="${member}">

    <div class="card shadow p-4" style="width: 400px;">
        <h4 class="mb-4 text-center">회원 정보</h4>
        <div class="mb-3">
            <label class="form-label">이름</label>
            <p class="form-control-plaintext" th:text="*{memberName}">홍길동</p>
        </div>
        <div class="mb-3">
            <label class="form-label">이메일</label>
            <p class="form-control-plaintext" th:text="*{email}">hong@example.com</p>
        </div>
        <div class="mb-3">
            <label class="form-label">가입일</label>
            <p class="form-control-plaintext" th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2025-06-24</p>
        </div>
    </div>


</div>


</body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>