<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{template/fragment/header::main_header}"></th:block>
    <title>관리자 페이지</title>
</head>
</head>
<body>

<!-- 상단 헤더 -->
<header class="p-3 mb-3 border-bottom sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <!-- 메뉴들 -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/main" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a sec:authorize="hasAnyRole('ADMIN', 'USER')" th:href="@{/members/{memberId}(memberId=${memberId})}" class="nav-link px-2 link-body-emphasis">내 정보</a></li>
            </ul>

            <!-- 검색 바 -->
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search"
                       class="form-control"
                       placeholder="Search..."
                       aria-label="Search">
            </form>

            <!-- 사용자 정보에 따라 로그인 로그아웃 버튼 렌더링 -->
            <div class="text-end" sec:authorize="isAnonymous()">
                <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/login'">Login</button>
                <button type="button" class="btn btn-warning" onclick="location.href='/members/add'">Sign-up</button>
            </div>
            <div sec:authorize="isAuthenticated()">
                <button type="button" class="btn btn-outline-danger" id="logoutButton">로그아웃</button>
            </div>

        </div>
    </div>
</header>


<div class="member-table-container d-flex justify-content-center align-items-center vh-100">

    <table class="table table-bordered shadow" style="width: 600px;">
        <thead class="table-light text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">회원 이름</th>
            <th scope="col">회원 이메일</th>
            <th scope="col">회원 가입일</th>
            <th scope="col">권한</th>
        </tr>
        </thead>

        <tbody class="text-center">
        <tr th:each="member : ${members}">
            <th scope="row" th:text="*{member.id}">id</th>
            <td>
                <a th:href="@{/members/{memberId}(memberId=*{member.id})}" th:text="*{member.memberName}"></a>
            </td>
            <td th:text="*{member.email}">email</td>
            <td th:text="*{#temporals.format(member.createdAt, 'yyyy-MM-dd HH:mm:ss')}">생성일자</td>
            <td th:text="*{member.role}"></td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>