<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/template/layout/base :: common_header(~{::title})">
    <title>로그인페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>

<form id="loginForm" action="" method="post" class="form-example">
    <div class="form-example">
        <label for="email">Enter your email: </label>
        <input type="email" name="email" id="email" required/>
    </div>
    <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required/>
    </div>
    <div class="form-example">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>


<button onclick="location.href='/'" class="btn btn-primary">홈화면</button>
</body>
</html>
<script th:replace="~{template/fragment/footer :: axiosScript}"></script>
<script>

    <!-- 로그인 요청 -->
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault(); // 폼제출 막기

        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        }

        axios.post('/api/login', data)
            .then((response) => {
                console.log(response);
                alert('로그인 성공');
                location.href = '/main';
            })
            .catch((err) => {
                alert('에러: ' + err.response.data.message);
            })
    });
</script>