<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/layout/base :: common_header(~{::extra_head})}">
    <th:block th:fragment="extra_head">
        <title>로그인</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
            }

            .login-container {
                height: 100vh; /* 뷰포트 높이 100% */
            }
        </style>
    </th:block>
</head>
<body>

<div class="login-container d-flex justify-content-center align-items-center">

    <form id="loginForm" action="" method="post" class="form-example"
          style="
            width: 500px;
            height: 500px;
            background-color: #f5f5f5;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
          ">

        <div class="form-example mb-3">
            <label for="email">Enter your email: </label>
            <input type="email" class="form-control form-control-lg" id="email" name="email" required/>
        </div>

        <div class="form-example mb-3">
            <label for="password">Enter your password: </label>
            <input type="password" class="form-control form-control-lg" id="password" name="password"  required/>
        </div>

        <div class="form-example mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

</div>

<script th:replace="~{template/fragment/footer :: axiosScript}"></script>
<script>

    <!-- 로그인 요청 -->
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault(); // 폼제출 막기

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        }

        axios.post('/api/login', data, {
            headers: {
                [csrfHeader] : csrfToken
            }
        })
            .then((response) => {
                console.log(response);
                alert('로그인 성공');
                location.href = '/main';
            })
            .catch((err) => {
                alert('에러: ' + err.response.data.message);
            })
    });
</script>
</body>
</html>
